DB_HOST=aws-1-ap-northeast-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.wsnhnryyqhdbvqgfkjzf
DB_PASSWORD=U7YMCR7zrz%C2Uj
DB_SSL=true

PORT=3000
NODE_ENV=production
JWT_SECRET=CHANGE_THIS_TO_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=24h

CORS_ORIGIN=*